## Optimisation #3 Preprocessing

**Model Optimisation Techniques Employed:**
- Adjust input data
    - Classification binning
- Add hidden layers
- Add neurons to hidden layer
- Decreased number of epochs to training regimen

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import keras_tuner as kt
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Identify columns
col=application_df.columns
col

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
col_drop=["EIN","NAME"]

application_df.drop(columns=col_drop, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
unique_value_count=application_df.nunique()
unique_value_count

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
app=application_df["APPLICATION_TYPE"].value_counts()
app

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# With the cutoff value 500 create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=app[app<500].index.tolist()
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
cls=application_df["CLASSIFICATION"].value_counts()
cls

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Use cutoff value 200 and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=cls[cls<200].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [10]:
# Generate categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
cat_encoded=pd.get_dummies(application_df[['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']])

application_df_encoded=pd.concat([application_df,cat_encoded],axis=1)
application_df_encoded=application_df_encoded.drop(columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'])
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y=application_df_encoded["IS_SUCCESSFUL"].values
X=application_df_encoded.drop("IS_SUCCESSFUL",1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=46)

C:\Users\rache\AppData\Local\Temp\ipykernel_27352\4167367659.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X=application_df_encoded.drop("IS_SUCCESSFUL",1).values

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 50
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 60
hidden_nodes_layer4 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2,activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3,activation="relu"))

# Forth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4,activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                2300

 dense_1 (Dense)             (None, 40)                2040

 dense_2 (Dense)             (None, 60)                2460

 dense_3 (Dense)             (None, 30)                1830

 dense_4 (Dense)             (None, 1)                 31

=================================================================
Total params: 8661 (33.83 KB)
Trainable params: 8661 (33.83 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=80)

Epoch 1/80
804/804 [==============================] - 3s 2ms/step - loss: 0.5670 - accuracy: 0.7229
Epoch 2/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7325
Epoch 3/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7321
Epoch 4/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7346
Epoch 5/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7356
Epoch 6/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7348
Epoch 7/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7371
Epoch 8/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7368
Epoch 9/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7365
Epoch 10/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7370
Epoch 11/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7379
Epoch 12/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7373
Epoch 13/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7379
Epoch 14/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7365
Epoch 15/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7400
Epoch 16/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7374
Epoch 17/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7381
Epoch 18/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7389
Epoch 19/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7380
Epoch 20/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7398
Epoch 21/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7384
Epoch 22/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7390
Epoch 23/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7397
Epoch 24/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7400
Epoch 25/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7395
Epoch 26/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 27/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 28/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7407
Epoch 29/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7395
Epoch 30/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7399
Epoch 31/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7400
Epoch 32/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7392
Epoch 33/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 34/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7408
Epoch 35/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7408
Epoch 36/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7404
Epoch 37/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7411
Epoch 38/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7410
Epoch 39/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7411
Epoch 40/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7392
Epoch 41/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7417
Epoch 42/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 43/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7405
Epoch 44/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7413
Epoch 45/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7416
Epoch 46/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7404
Epoch 47/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7412
Epoch 48/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 49/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7409
Epoch 50/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7417
Epoch 51/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7421
Epoch 52/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 53/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7417
Epoch 54/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7412
Epoch 55/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7416
Epoch 56/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7417
Epoch 57/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7420
Epoch 58/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7420
Epoch 59/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7416
Epoch 60/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7410
Epoch 61/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7414
Epoch 62/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7419
Epoch 63/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7414
Epoch 64/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7417
Epoch 65/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7422
Epoch 66/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7417
Epoch 67/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7414
Epoch 68/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7420
Epoch 69/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7421
Epoch 70/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7422
Epoch 71/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7421
Epoch 72/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7422
Epoch 73/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 74/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7422
Epoch 75/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7425
Epoch 76/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7425
Epoch 77/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7418
Epoch 78/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7415
Epoch 79/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7422
Epoch 80/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7422

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5794 - accuracy: 0.7243 - 513ms/epoch - 2ms/step
Loss: 0.5794219374656677, Accuracy: 0.7243148684501648

In [17]:
# Export our model to HDF5 file
model = "AlphabetSoupCharity_Optimisation_3.h5"

# Save the model to the HDF5 file
nn.save(model)

c:\Users\rache\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(